<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/specificFood.css">
</head>
<body>
    <header class="header">
        <div class="shanyrak">Optimal Food</div>
    </header>
    <section class="buttonClass">
        <div class="buttons">
            <a href="#"><img class=prev" src="icons/prev.svg" alt=""></a>
            <a href="#"><img class=next" src="icons/next.svg" alt=""></a>
        </div>
    </section>
    <section class="justTitle">
        <div>23.05.2023</div>
    </section>
    <section class="cafeteries">
        <div class="container">
            <div class="cafeteria_card">
                <div class="title">
                    Cafeteria-1                
                </div>
                <div class="wrapper">
                    <div class="set set_lunch">
                        <div class="set_title">Lunch</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                    <div class="set set_dinner">
                        <div class="set_title">Dinner</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                </div>
            </div>
            <div class="cafeteria_card">
                <div class="title">
                    Cafeteria-2                
                </div>
                <div class="wrapper">
                    <div class="set set_lunch">
                        <div class="set_title">Lunch</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                    <div class="set set_dinner">
                        <div class="set_title">Dinner</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                </div>
            </div>
            <div class="cafeteria_card">
                <div class="title">
                    Cafeteria-3                
                </div>
                <div class="wrapper">
                    <div class="set set_lunch">
                        <div class="set_title">Lunch</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                    <div class="set set_dinner">
                        <div class="set_title">Dinner</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="line">
    <section class="justTitle">
        <div>23.05.2023</div>
    </section>
    <section class="cafeteries">
        <div class="container">
            <div class="cafeteria_card">
                <div class="title">
                    Cafeteria-1                
                </div>
                <div class="wrapper">
                    <div class="set set_lunch">
                        <div class="set_title">Lunch</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                    <div class="set set_dinner">
                        <div class="set_title">Dinner</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                </div>
            </div>
            <div class="cafeteria_card">
                <div class="title">
                    Cafeteria-2                
                </div>
                <div class="wrapper">
                    <div class="set set_lunch">
                        <div class="set_title">Lunch</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                    <div class="set set_dinner">
                        <div class="set_title">Dinner</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                </div>
            </div>
            <div class="cafeteria_card">
                <div class="title">
                    Cafeteria-3                
                </div>
                <div class="wrapper">
                    <div class="set set_lunch">
                        <div class="set_title">Lunch</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                    <div class="set set_dinner">
                        <div class="set_title">Dinner</div>
                        <img src="img/beshbarmak.jpg" alt="besh">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>