<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toplist</title>
    <link rel="stylesheet" th:href="@{/style/toplist.css}"/>
  </head>
  <body>
    <header class="header">
      <div class="shanyrak">List of Top</div>
    </header>

    <div class="container">
      <ul class="card__list">
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
        <li class="card__item">
          <p class="title">
            <span>Rice(453)</span>
            <img width="25" th:src="@{/icons/like.svg}" alt="" />
            <span>99%</span>
          </p>
          <center><img class="img" th:src="@{/img/rice.jpg}" alt="" /></center>
        </li>
      </ul>
    </div>
  </body>
</html>
